/*********************************
        GENERAL BOX SIZING 
*********************************/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

/*********************************      
         BODY 
*********************************/

body {
    background: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;

}


/*********************************
        CONTAINER
*********************************/
.form-container {

    padding: 10px 20px;
    background: #fff;
    width: 400px;
    height: auto;
    margin: 50px auto;
    border-bottom: solid 10px rgba(255, 255, 255, .4);
    border-radius: 10px;

}

input {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 30px;
    box-shadow: none;
    border-radius: 5px;
    box-decoration-break: none;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


span, h2 {
    text-align: center;
    color: #493D3D;
    
}


a {
    text-decoration: none;
    color: #493D3D
    text-align: center;
}

a:hover {
    color:#493D3D;
    font-weight: bold;
    font-size:1em;
}